/* styles.css */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1f416b, #ffffff);
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  p {
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    max-width: 800px;
    margin: 20px auto;
  }
  
  .text-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0;
  }
  
  .person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .person img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  button {
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #052a43;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  button:hover {
    background-color: #273138;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .overlay-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
  }

  #close-overlay-btn {
    position: absolute;
    top: 3.5rem;
    right: 5rem;
    font-size: 24px;
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 